{
  "presets": [
    ["env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "lib": "lib",
          "routes": "routes",
          "config": "config"
        }
      }
    ],
  ]
}
